<!DOCTYPE html>{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}SERVIZAS{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>   
<div class="puslapis">
      <header class="servis-header">
            <div class="header-topas"></div>
            <div class="header-mainas-b">
                <div class="b-kontas">
                    <div class="konto-turinys-b">
                        <div class="logo-textas-b">
                            <img src="{% static 'images/logo-vievis.png' %}" alt="list" class="b-logo"> 
                            <span>UAB "Vievio AutoCentras"</span>          
                        </div>
                        <div class="button-header-b">
                            <li><form method="post" action="{% url "logout" %}">{% csrf_token %}
                            <button class="button-logout" type="submit">Atsijungti</button></form></li> 
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-bottom">
          <div class="b-kontas">
              <div class="konto-turinys">
                  <nav class="header-menu">
                        <ul class="nav-menu">
                            <div class="nav-button">
                                <a href="{% url 'home' %}" class="logo-link">
                                    <img src="{% static 'images/b-home.png' %}" alt="list" class="b-home-icon">
                                </a>
                                <a href="{% url 'create_client_data' %}" ><button class="n-inv">Naujas užsakymas</button></a>
                                <a href="{% url 'created_data_list' %}" ><button class="b-inv">Įšrašytos sąskaitos</button></a>
                                <a href="{% url 'mechanic_list' %}" ><button class="b-worker">Darbuotojai</button></a>
                            </div>
                        </ul>
                  </nav>
              </div>
          </div>
      </div>
      </header>
    {% block content %}
    <div class="reg-mainas-b">
        <div class="reg-kontas-b">    
            <img src="{% static 'images/engine.png' %}" alt="Registration" class="registration-image">
        </div>
    </div>
    {% endblock %}
    <footer class="main-footeris-b"> 
        <div class="kontas">
            <div class="stulpeliai">
                <div class="stulpelis-1">
                    <p class="pavadinimas-a">Kontaktai:</p>
                    <p class="pavadinimas-a-1"><img class="cont" src="{% static "images/vv.png" %}">UAB "Vievio AutoCentras"</p>
                    <p class="pavadinimas-a-1"><img class="cont" src="{% static "images/house.png" %}">Naujoji g. 6A, Vievis, 21375 Elektrėnų sav.</p>
                    <p class="pavadinimas-a-1"><img class="cont" src="{% static "images/phone.png" %}">Tel.: +37061459800</p>
                    <p class="pavadinimas-a-1"><img class="cont" src="{% static "images/email.png" %}">vievioautocentras@gmail.com</p>
                </div>
                <div class="stulpelis-2">
                    <p class="pavadinimas-b">Mūsų partneriai:</p>
                    <div class="partneriai">
                        <a href="https://www.adbaltic.lt/"><img class="icon" src="{% static "images/ad.png" %}"></a>
                        <a href="https://www.eoltas.lt/" ><img class="icon" src="{% static "images/eoltas.png" %}"></a>
                        <a href="https://www.intercars.lt/"><img class="icon" src="{% static "images/intercars.png" %}"></a>
                    </div>  
                </div>
                <div class="stulpelis-3">
                    <p class="pavadinimas-c">Išjunk okupantus ir tu!</p>
                    <div class="laisve">
                        <a href="https://blue-yellow.lt//"><img class="ukraine" src="{% static "images/ua1.png" %}"></a>
                    </div>  
                </div>
            </div>
                <div class="t-kontas">
                    <span class="t-body-b">© Vievio AutoCentras UAB 2016 - 2024. Prisijungimas tik autorizuotas!</span>
                </div>
            </div>
        </div>  
    </footer>
</div>
</body>
</html>
