{% extends 'main_page.html' %}{% load static%}

{% block content %}
<div class="page-mainas">
    <div class="blokas-pilnas">
        <div class="blokas-apacia-hero">
            <div class="bloko-kontas">
                <div class="bloko-krastai">
                    <div class="bloko-sonai">
                        <div class="padalinimas">
                            <div class="pic-krastai">
                                <div class="pic-sonas">
                                    <div class="pic-vieta">
                                        <div class="main-pic">
                                            <img class="home-pic" src="{% static 'images/servizas.jpg' %}" alt="main pic">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="langas-sonai">
                                <div class="langas-remelis">
                                    <div class="langas-apvadai">
                                        <div class="langas-turinys">
                                            <h1 class="h1"> Apie įmonę </h1>
                                            <p class="langas-textas">
                                                Įmonė įsikūrė 2016 m. Tai uždaroji akcinė bendrovė, kuri specializuojasi
                                                automobilių priežiūros, bei remonto srityse. Vievio AutoCentre siūlomos
                                                praktiškai visos įmanomos paslaugos: nuo variklių grandinių keitimo iki automobilių
                                                salonų cheminio valymo. Servizas isikūręs patogioje vietoje,
                                                taip pat yra auto detalių parduotuvė, parduodamos naujos ir dėvėtos padangos. Mums klientas
                                                yra labai svarbus, todėl visas iškilusias problemas sprendžiame nedelsiant.
                                            </p>
                                        </div>
                                    </div>  
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>
</div>
{% endblock %}

