{% extends "base.html" %}{% load static %}
{% block content %}
<div class="reg-mainas">
    <div class="reg-kontas-m">
        <div class="worker-image-kontas">
            <img src="{% static 'images/darbininkas.png' %}" alt="Registration" class="worker-reg2-image">
        </div>
        <form method="post" class="create-w" action="{% url 'create_mechanic' %}?next={{ request.GET.next|urlencode }}">
            {% csrf_token %}
            <label for="id_name"></label>
            <input type="text" id="id_name" name="name" placeholder="Vardas" required>
            <br>
            <label for="id_ph_number"></label>
            <input type="text" id="id_ph_number" name="ph_number" placeholder="+370 6*******" required>
            <br>
            <label for="id_skills"></label>
            <input type="text" id="id_skills" name="skills" placeholder="Profilis" required>
            <div class="button-container">
                <button type="submit">Išsaugoti</button>
                <a href="{% url 'mechanic_list' %}"><button type="button">Atšaukti</button></a>
            </div>
        </form>
    </div>   
</div>
{% endblock %}





