{% extends "base.html" %}{% load static %}
{% block title %}INV LIST{{ block.super }}{% endblock title %}
{% block content %}
<div class="reg-mainas">
    <div class="reg-kontas-saskaitos">
        <div class="logo-and-inv"> 
            <img src="{% static 'images/inv3.png' %}" alt="list" class="inv-list"> 
            <h1 class="centered-inv-list">Sąskaitų sąrašas:</h1>
        </div>    
        <ul class="button-list">
            {% for client in created_data_list %}
                <li>
                    <a href="{% url 'created_client_detail' client.id %}" class="button-link">{{ client.invoice_number }} {{client.created_date|date:"Y/m/d"}} {{client.client_name}} {{client.make}} {{client.model}} {{client.number_plate}}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'home' %}"><button type="button">Atgal</button></a>
    </div>
</div>   
{% endblock content %}
